<md-grid-list class="timetable-column"
              cols="1"
              gutterSize="8px"
              rowHeight="76px"
              fxFlex>
  <ng-template ngFor let-lesson [ngForOf]="lessons" let-i="index">
    <md-grid-tile class="timetable-cell timetable-cell--empty"
                  *ngIf="lesson.getOffsetFrom(i === 0 ? '09:00' : lessons[i - 1].endTime) > 0"
                  colspan="1"
                  [rowspan]="lesson.getOffsetFrom(i === 0 ? '09:00' : lessons[i - 1].endTime)">
    </md-grid-tile>
    <md-grid-tile class="timetable-cell"
                  colspan="1"
                  [rowspan]="lesson.getDuration()">
      <div class="timetable-cell__backdrop"
           [ngStyle]="{'background-color': moduleColors[lesson.module._id]}">
      </div>
      <div class="timetable-cell__sidebar"
           fxLayoutAlign="center center"
           [ngSwitch]="lesson.type"
           [ngStyle]="{'background-color': moduleColors[lesson.module._id]}">
        <md-icon *ngSwitchCase="'TUT'" svgIcon="tutorial" mdTooltip="Tutorial"></md-icon>
        <md-icon *ngSwitchCase="'LEC'" svgIcon="lecture" mdTooltip="Lecture"></md-icon>
        <md-icon *ngSwitchCase="'LAB'" svgIcon="lab" mdTooltip="Lab"></md-icon>
      </div>
      <div class="timetable-cell__body" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <div class="timetable-cell__row  timetable-cell__subtitle">
          <span>{{lesson.module._id}}</span>
        </div>
        <span class="timetable-cell__row">{{lesson.module.name}}</span>
        <div class="timetable-cell__row timetable-cell__subtitle">
          <span *ngFor="let room of lesson.rooms; let last = last">{{room._id}}<span *ngIf="!last">&nbsp;</span></span>
        </div>
        <button md-button class="timetable-cell__button" (click)="openInfoModal(lesson)"></button>
      </div>
    </md-grid-tile>
  </ng-template>
</md-grid-list>
