<!--TODO extract grid dimensions as template variables-->
<!--TODO week selection-->

<div *ngIf="!timetable" fxLayout="row" fxLayoutAlign="center center" fxFlex>
  <md-spinner></md-spinner>
</div>

<div fxLayout="column" *ngIf="timetable" fxShow="false" fxShow.gt-sm fxFlex>

  <md-toolbar color="primary" fxFlex>
    <a md-icon-button class="pagination-button--back" *ngIf="weekIndex - 1 >= 0"
       [routerLink]="['/timetable/' + studentId + '/' + weeks[weekIndex - 1]._id]">
      <md-icon>arrow_back</md-icon>
    </a>
    <span fxFlex></span>
    <span>{{week.name}}</span>
    <span fxFlex></span>
    <a md-icon-button class="pagination-button--forward" *ngIf="weekIndex + 1 < weeks.length"
       [routerLink]="['/timetable/' + studentId + '/' + weeks[weekIndex + 1]._id]">
      <md-icon>arrow_forward</md-icon>
    </a>
  </md-toolbar>

  <div class="mat-tab-nav-bar">
    <md-grid-list class="mat-tab-list" cols="1" rowHeight="48px" gutterSize="0px" fxFlex="72px">
      <md-grid-tile class="mat-tab-link"
                    colspan="1"
                    rowspan="1">
      </md-grid-tile>
    </md-grid-list>

    <md-grid-list class="mat-tab-list" cols="5" rowHeight="56px" gutterSize="0px" fxFlex>
      <md-grid-tile class="mat-tab-link"
                    *ngFor="let day of days"
                    colspan="1"
                    rowspan="1">
        {{day}}
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div class="timetable-body" fxLayout="row">

    <md-grid-list class="time-column"
                  cols="1"
                  gutterSize="8px"
                  rowHeight="92px"
                  fxFlex="72px">
      <md-grid-tile
        *ngFor="let time of times"
        colspan="1"
        rowspan="1">
        {{time}}
      </md-grid-tile>
    </md-grid-list>

    <app-timetable-column *ngFor="let day of timetable.toArray(); let i = index"
                          [day]="this.days[i]"
                          [lessons]="day"
                          [moduleColors]="colors"
                          style="width: 20%"></app-timetable-column>

  </div>

</div>

<div fxLayout="column" *ngIf="timetable" fxShow="false" fxShow.lt-md fxFlex>

  <md-toolbar color="primary" fxFlex>
    <a md-icon-button class="pagination-button--back" *ngIf="weekIndex - 1 >= 0"
       [routerLink]="['/timetable/' + studentId + '/' + weeks[weekIndex - 1]._id]">
      <md-icon>arrow_back</md-icon>
    </a>
    <span fxFlex></span>
    <span>{{week.name}}</span>
    <span fxFlex></span>
    <a md-icon-button class="pagination-button--forward" *ngIf="weekIndex + 1 < weeks.length"
       [routerLink]="['/timetable/' + studentId + '/' + weeks[weekIndex + 1]._id]">
      <md-icon>arrow_forward</md-icon>
    </a>
  </md-toolbar>

  <md-tab-group>
    <md-tab *ngFor="let day of timetable.toArray(); let i = index" [label]="shortDays[i]">

      <div class="timetable-body" fxLayout="row">

        <md-grid-list class="time-column"
                      cols="1"
                      gutterSize="8px"
                      rowHeight="92px"
                      fxFlex="72px">
          <md-grid-tile
            *ngFor="let time of times"
            colspan="1"
            rowspan="1">
            {{time}}
          </md-grid-tile>
        </md-grid-list>

        <app-timetable-column [day]="this.days[i]" [lessons]="day" [moduleColors]="colors"
                              style="width: 100%"></app-timetable-column>

      </div>

    </md-tab>
  </md-tab-group>

</div>
