$cell-bar-width: 32px;
$cell-bar-radius: 4px;

.timetable-column {
  height: auto !important;
  border-left: thin lightgray solid;
}

.cell-bar {
  color: white;
  background-color: crimson;
  width: $cell-bar-width;
  border-top-right-radius: $cell-bar-radius;
  border-bottom-right-radius: $cell-bar-radius;
  height: 100%;
}
