<div fxFlex fxLayoutAlign="center center">
  <form fxFlex.gt-sm="512px"
        fxLayout="column"
        (ngSubmit)="onSubmit()"
        #studentIdForm="ngForm"
        autocomplete="off">
    <h1 class="timetable-title mat-headline">UL Timetable</h1>
    <span class="mat-card-subtitle">Enter your student ID to get started:</span>
    <md-input-container fxFlex>
      <input mdInput placeholder="Student ID"
             appStudentIdValidator
             [(ngModel)]="studentId"
             name="studentId"
             #studentIdControl="ngModel">
      <md-error *ngIf="studentIdControl.hasError('studentId')">
        Please enter a valid student ID
      </md-error>
    </md-input-container>
    <div fxLayoutAlign="center">
      <button md-raised-button color="primary" fxFlex [disabled]="!studentIdForm.form.valid">Go</button>
    </div>
  </form>
</div>
