app-navbar {
  z-index: 2;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

:host /deep/ router-outlet + * {
  flex: 1 0 auto;
}
