@import '~@angular/material/theming';

@include mat-core();

$timetable-app-primary: mat-palette($mat-indigo);
$timetable-app-accent: mat-palette($mat-amber, A200, A100, A400);
$timetable-app-warn: mat-palette($mat-red);

$timetable-app-theme: mat-light-theme($timetable-app-primary, $timetable-app-accent, $timetable-app-warn);

@include angular-material-theme($timetable-app-theme);
