body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html, body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[md-button], [md-raised-button] {
  text-transform: uppercase;
}
